@import "Styles";

.btn.footerbutton{
  border-radius: 0px;
}

.force-to-bottom {
  bottom: 0%;
}

.btn.tarefas{
  background-color: $BodyFooterColor1;
}

.btn.historico{
  background-color: $BodyFooterColor2;
}
