.btn.footerbutton{
  border-radius: 0px;
}

.force-to-bottom {
  bottom: 0%;
}

.btn.tarefasActive{
  background-color: #00bcd4;
}

.btn.tarefasInactive{
  background-color: brown;
}

.btn.historicoActive{
  background-color: antiquewhite;
}

.btn.historicoInactive{
  background-color: brown;
}