/* Logo Styles */

$LogoColor1: #d6d4d5;
$LogoColor2: #30302f;
$LogoColor3: #445d72;
$LogoColor3: #8ea3bc;
$LogoFontColor: #30302f;

/* Header Styles */

$HeaderBlue1: #91a6c5;
$HeaderBlue2: #5d7da3;
$HeaderFontColor: #30302f;
$HeaderHeight: 50px;

/* Body Styles */

$BodyBackgroundColor: #d6d4d5;
$ContentBlue1: #c0cedc;
$ContentBlue2: #bac6d1;
$ContentBrown1: #c5ad97;
$ContentBrown1: #b6a08f;
$ContentBlue3: #5d7da3;
$ContentBlue4: #6487aa;
$ContentFontColor: #30302f;

/* BodyFooter Styles */

$BodyFooterColor1: #c0cedc;
$BodyFooterColor2: #c5ad97;
$BodyFooterFontColor: #30302f;