# Dependency directory
node_modules

build/*
public/build/

!build/js/.gitkeep
!build/css/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Jetbrains
.idea
.idea/workspace.xml

# Sass cache
public/.sass-cache/

package-lock.json