<head>
    <meta charset="UTF-8">
    <title>Quero Educacao</title>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional Boostrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Link for the icon -->
    <link rel="shortcut icon" href="/dashboard/img/Logo/favicon.ico" type="favicon/ico" />

    <!-- Link for main css file -->
    <link rel="stylesheet" type="text/css" href="/dashboard/build/css/main.css">

    <!-- Icons on sidebar -->
    <link rel="stylesheet" href="/dashboard/node_modules/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div id="app"></div>

<script src="/dashboard/build/js/bundle.js"></script>
<script src="/dashboard/build/js/vendor.js"></script>
</body>