<head>
    <meta charset="UTF-8">
    <title>Quero Educacao</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Link for the icon -->
    <link rel="shortcut icon" href="/dashboard/img/QueroIcon.png" type="favicon/ico" />

    <!-- Link for main css file -->
    <link rel="stylesheet" type="text/css" href="/dashboard/build/css/main.css">

    <!-- Icons on sidebar -->
    <link rel="stylesheet" href="/dashboard/node_modules/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div id="app"></div>

<script src="/dashboard/build/js/bundle.js"></script>
<script src="/dashboard/build/js/vendor.js"></script>
</body>